
@{
    ViewBag.Title = "YogaDetails";

}

@*<h2>YogaDetails</h2>*@


<header class="header">
        @*<div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="~/Content/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header__top__widget">
                            <ul>
                                <li>CALL US: + 1 800-567-8990</li>
                                <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                                <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                            </ul>
                            <a href="#" class="primary-btn">JOIN US</a>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>*@
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="Home/Index">Home</a></li>
                                <li><a href="./about-us.html">Yogasan</a></li>
                                <li><a href="./classes.html">Events</a></li>
                                <li>
                                    <a href="#">Registration</a>
                                    <ul class="dropdown">
                                        <li><a href="./classes-details.html">Classes Details</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./faq.html">Faq</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="./blog.html">Gallery</a></li>
                                <li><a href="./contact.html">Feedback</a></li>
                                <li><a href="./contact.html">Our Team</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        @*<div class="header__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </header>

<section class="breadcrumb-option set-bg" data-setbg="/Content/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Yogasan</h2>
                        <div class="breadcrumb__widget">
                            <a href="./index.html">Yogasan</a>
                            <span>सूर्यनमस्कार</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<div class="col-lg-12">
    <div class="section-title normal-title">
        <br/>
        <br/>
        <h2>सूर्यनमस्कार</h2>
        <p>
            योगाचा एक परिपूर्ण व्यायाम
        </p>
    </div>
</div>

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-lg-1 order-2">
                <div class="blog__sidebar">
                    @*<div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><span class="icon_search"></span></button>
                            </form>
                        </div>*@
                    <div class="blog__sidebar__categories">
                        <h4>सूर्यनमस्कार–योगाचा एक परिपूर्ण व्यायाम :</h4>
                        <p>
                            सूर्य नमस्कार किंवा सूर्य नमस्कार हा 12 सामर्थ्यवान योगासनांचा क्रम आहे. हृदयरोगाचा एक उत्तम व्यायाम होण्याव्यतिरिक्त, सूर्यनमस्काराचा शरीरावर आणि मनावरही खूप सकारात्मक परिणाम होतो.<br />

                            सूर्य नमस्कार हे रिकाम्या पोटी सकाळी लवकर केले जाते.<br /> सूर्य नमस्काराच्या प्रत्येक फेरीमध्ये दोन संच असतात आणि प्रत्येक संच 12 योगाद्वारे बनलेला असतो.<br /> सन वंदनाचा सराव कसा करावा याबद्दल आपल्याला बर्‍याच आवृत्त्या सापडतील. तथापि, सर्वोत्तम परिणामासाठी एका विशिष्ट आवृत्तीवर चिकटून नियमितपणे सराव करण्याचा सल्ला दिला जातो.<br />

                            उत्तम आरोग्याव्यतिरिक्त, सूर्य नमस्कार या ग्रहावरील जीवन टिकवण्यासाठी सूर्याबद्दल कृतज्ञता व्यक्त करण्याची संधी देखील प्रदान करते.<br /> सूर्यनमस्कार हे उत्तम स्वास्थ्याबरोबरच ज्या सूर्यदेवतेमुळे पृथ्वीवरील आपले अस्तित्व टिकऊन ठेवता येते त्या सूर्यदेवते प्रति कृतज्ञता व्यक्त करण्याची संधी देतात.
                        </p>
                        @*<ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Fuel (20)</a></li>
                                <li><a href="#">Sweat (5)</a></li>
                                <li><a href="#">Play (9)</a></li>
                                <li><a href="#">Live (10)</a></li>
                            </ul>*@
                    </div>
                    <div class="blog__sidebar__recent">
                        <h4>सूर्य नमस्कार चे अविश्वसनीय फायदे:</h4>
                        <div class="blog__recent__item">
                            <p>
                                1. हृदय व रक्तवाहिन्यासंबंधी आरोग्य राखण्यास मदत करते<br />
                                <br />
                                2. मज्जासंस्था उत्तेजित करते<br />
                                <br />
                                3. स्नायूंना ताणून, फ्लेक्सिंग आणि टोनिंग करण्यास मदत करते<br />
                                <br />
                                4. वजन कमी करण्याच्या व्यवस्थापनासाठी एक उत्कृष्ट व्यायाम<br />
                                <br />
                                5. रोगप्रतिकारक शक्ती मजबूत करते<br />
                                <br />
                                6. संज्ञानात्मक कार्ये वर्धित करते<br />
                                <br />
                                7. एकंदरीत आरोग्य सुधारते, शरीर मजबूत करते आणि मनाला आराम देते<br />
                                <br />
                            </p>
                            @*<div class="blog__recent__item__pic">
                                        <img src="~/Content/img/blog/br-1.jpg" alt="">
                                    </div>*@
                        <div class="blog__sidebar__recent">
                            <h6>सूर्य नमस्कार कोणी करू नये:</h6>
                            <br />
                            <p>
                                सूर्यनमस्कार (सूर्य नमस्कार) हा एक १२ पोझेस अनुक्रम आहे ज्यायोगे योग्य श्वासोच्छवासासह उर्जा प्रवाह होत आहे, नवशिक्यांसाठी त्याला विशिष्ट शारीरिक सामर्थ्याची आवश्यकता आहे.<br />
                                <br />
                                म्हणूनच या क्रमास त्याच्या मर्यादा आहेत आणि एखाद्या व्यक्तीला काही आजारांनी ग्रस्त असल्यास ते केले जाऊ नये.<br />
                                <br />
                                या योगासंदर्भातील स्नायू सतत काम करण्यासाठी ठेवल्या जातात, म्हणून शिकण्याच्या वेळी चांगले मार्गदर्शन करून हे अधिक चांगले केले जाते.<br />
                                <br />
                                खाली या व्यक्तीने सूर्य नमस्कार करू नये.<br />
                            </p>
                            <div class="blog__sidebar__recent">
                                <p>
                                    1. शारीरिक दुर्बलता: हा एक योगासनेचा क्रम आहे, जर एखाद्याला शरीराची सामान्य कमजोरी किंवा स्नायू आणि हाडे अशक्तपणा असेल तर काळजी घेतली पाहिजे.<br />
                                    <br />
                                    2. बॅड बॅक: सूर्य नमस्कार (सूर्यनमस्कार) मध्ये, पाठीचा कणा विस्तृत होतो आणि संकुचित होतो ज्यामुळे मागच्या आणि मागच्या भागावर दबाव येतो. म्हणूनच, एखाद्या व्यक्तीने बर्‍याच वर्षांपासून हा अभ्यास केला असला तरी, खूपच वाईट रीतीने किंवा दुखापतग्रस्त व्यक्तीने हे निश्चितपणे टाळले पाहिजे. योग शिक्षकांनी मागील आजार किंवा दुखापतीतून बरे झाल्यावर योग शिक्षकाचे मार्गदर्शन घेणे किंवा हळू हळू प्रारंभ करणे आवश्यक आहे.<br />
                                    <br />
                                    3. गर्भवती महिला: गर्भवती महिलांनी असे करणे चांगले नाही कारण यामुळे पाठीवर आणि पोटाच्या भागावर दबाव येतो.<br />
                                    <br />
                                    4. उच्च रक्तदाब: उच्च रक्तदाब ग्रस्त लोकांनी हा क्रम टाळला पाहिजे. परंतु योग शिक्षकांच्या योग्य मार्गदर्शनानुसार आणि ज्येष्ठ नसलेल्या एखाद्या व्यक्तीसाठी हा योग हळूहळू आणि काळजीपूर्वक सुरू करू शकतो.<br />
                                    <br />
                                    5. हृदयाची समस्या: ऐकलेल्या समस्येने एखाद्यास सूर्य नमस्कार (सूर्य नमस्कार) चा अभ्यास करण्यापूर्वी एखाद्या डॉक्टरांचा सल्ला घ्यावा. लक्षात ठेवा की हृदयाच्या स्थितीत असलेल्या व्यक्तीसाठी वय घटक महत्त्वपूर्ण भूमिका निभावतात.<br />
                                    <br />
                                    6. संधिवात: सूर्य नमस्कारातील विविध आसनांसह गुडघा ताकदीची महत्त्वपूर्ण भूमिका असते. म्हणून ज्यास गंभीर संधिवात आहे अशा व्यक्तीस गुडघा कडक होणे उद्भवते, त्याने हळू घ्यावे किंवा हा क्रम टाळला पाहिजे.<br />
                                    <br />
                                    7. मनगटाची दुखापत: मनगटात दुखापत झाल्यामुळे हा क्रम कठीण होईल कारण कोब्रा पोझ, अधो मुख सवानास यासारख्या पोझमध्ये मनगटावर दबाव येत असेल आणि आठव्या लिंबला खाली जाण्याने मनगटांना अधिक ताण आणि दुखापत होईल.
                                </p>
                                </div>
                            </div>
                        </div>
                                @*<div class="blog__recent__item">
                                    <div class="blog__recent__item__pic">
                                        <img src="~/Content/img/blog/br-2.jpg" alt="">
                                    </div>
                                    <div class="blog__recent__item__text">
                                        <h6>Tips You To Balance Nutrition Meal Day</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </div>
                                <div class="blog__recent__item">
                                    <div class="blog__recent__item__pic">
                                        <img src="~/Content/img/blog/br-3.jpg" alt="">
                                    </div>
                                    <div class="blog__recent__item__text">
                                        <h6>4 Principles Help You Lose Weight With Vegetables</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                        </div>*@
                    </div>
                    @*<div class="blog__sidebar__tags">
                            <h4>Search By Tags</h4>
                            <a href="#">Weight</a>
                            <a href="#">Beauty</a>
                            <a href="#">Yoga Ball</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>*@
                    @*<div class="blog__sidebar__comment">
                            <h4>Comment</h4>
                            <div class="classes__sidebar__comment">
                                <div class="classes__sidebar__comment__pic">
                                    <img src="~/Content/img/classes-details/comment-1.png" alt="">
                                    <div class="classes__sidebar__comment__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <div class="classes__sidebar__comment__text">
                                    <span>04 Mar 2018</span>
                                    <h6>Brandon Kelley</h6>
                                    <p>
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit,
                                    </p>
                                </div>
                            </div>
                            <div class="classes__sidebar__comment">
                                <div class="classes__sidebar__comment__pic">
                                    <img src="~/Content/img/classes-details/comment-2.png" alt="">
                                    <div class="classes__sidebar__comment__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <div class="classes__sidebar__comment__text">
                                    <span>04 Mar 2018</span>
                                    <h6>Christina Kelley</h6>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="row">
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img class="media-element file-default" loading="lazy" src="~/Content/img/blog/blog-1.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 1:  प्रणामासन (जसे प्रार्थनेला उभे आहात )</u></a></h5>
                                <p>
                                    तुमच्या योगा मॅटच्या पुढील बाजूस उभे रहा, पाय एकत्र ठेवा, शरीराचे वजन दोन्ही पायांवर सारखे ठेवा.छाती पुढे करा आणि खांद्यांना आराम द्या.

                                    श्वास आत घेताना दोन्ही हात बाजूने वरती घ्या आणि श्वास बाहेर सोडताना दोन्ही तळहात छाती पुढे एकत्र आणून प्रार्थना मुद्रेमध्ये उभे रहा.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-2.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 2:  हस्तौत्तनासन ( हात उंचावणे मुद्रा)</u></a></h5>
                                <p>
                                    श्वास घेताना हात वरती आणि थोडे मागे घ्या,तुमचे दंड कानाच्या जवळ असू द्या. ह्या मुद्रेमध्ये आपले पूर्ण शरीर-पायांच्या टाचांपासून हाताच्या बोटांपर्यंत,वरच्या बाजूला ताणायचा प्रयत्न करा.

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    तुमचे ओटीपोट थोडेसे पुढे घ्या. तुमची हाताची बोटे वरती खेचली जातील याची काळजी घ्या..
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-3.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 3:  हस्तपादासन</u></a></h5>
                                <p>
                                    श्वास सोडताना कंबरेपासून पाठीचा कणा सरळ ठेवत, पुढच्या बाजूला खाली वाका. श्वास पूर्णपणे सोडल्यानंतर तुमचे तळहात खाली जमिनीवर पायांच्या बाजूला टेकवा.

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    या मुद्रेमध्ये तळहात जमिनीवर ठेवण्यासाठी गरज पडलीच तर तुम्ही तुमचे गुडघे थोड्या प्रमाणात वाकवू शकता.

                                    जमिनीवर तळहात ठेवल्यानंतर गुडघे परत सरळ करायचा प्रयत्न करा.
                                    आपले  आसन पूर्ण होईपर्यंत आपले हात न हलवता याच अवस्थेमध्ये ठेवणे योग्य आहे.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-4.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 4:  अश्व संचालनासन</u></a></h5>
                                <p>
                                    श्वास घेत तुमचा उजवा पाय जास्तीत जास्त जमेल तेवढा मागे घ्या.उजव्या पायाचा गुडघा जमिनीला टेकवून वरती मान वळवून पहा.या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    तुमचा डावा पाय हा दोन्ही तळहाताच्या मधोमध आहे याची खात्री करून घ्या.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-5.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 5:  दंडासन</u></a></h5>
                                <p>
                                    श्वास घेत डावा पाय मागे घ्या आणि आपले संपूर्ण शरीर एका रेषेत ठेवा.

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    आपले हात जमिनीच्या समकोनात ठेवा.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-6.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 6:  अष्टांग नमस्कार</u></a></h5>
                                <p>
                                    हळूवारपणे गुडघे जमिनीवर आणत श्वास बाहेर सोडा.नितंब हळूवारपणे थोडे मागे घ्या आणि शरीर थोडे पुढे घ्या,छाती, हनुवटी जमिनीवर आरामात ठेवा. तुमचा पार्श्व भाग थोडा उंचवा.

                                    दोन्ही हात,दोन्ही पाय,दोन्ही गुडघे,छाती आणि हनुवटी हे शरीराचे आठ भाग जमिनीला स्पर्श झालेले हवेत.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-7.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 7:  भुजंगासन</u></a></h5>
                                <p>
                                    पुढे सरका आणि छातीला वर उंचवा जणू एक  फणा काढलेला नाग.या अवस्थेत तुम्ही तुमचे हाताचे कोपर वाकवू शकता,खांदे हे कानापासून दूर ठेवा.वर पहा.

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    श्वास घेताना छाती हळुवार पुढे आणा.आणि श्वास सोडताना नाभी खाली ढकला.पायाची बोटे खाली सरळ करा.तुमच्याकडून जेवढे शरीर खेचले जाते तेवढेच खेचा,त्याच्यापेक्षा जास्त खेचू नका.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-8.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 8:  पर्वतासन</u></a></h5>
                                <p>
                                    श्वास सोडत आपले माकडहाड आणि नितंब वरती घ्या,छाती खालच्या बाजूला.शरीराचा जणू इंग्लिश उलटा व्ही “/\".

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    जमले तर आपल्या पायांच्या टाचा जमिनीवर ठेवण्याचा प्रयत्न करा आणि आपले माकड हाड उंचावण्याचा प्रयत्न करा.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-9.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 9:  अश्व संचालनासन</u></a></h5>
                                <p>
                                    श्वास घेत आपला उजवा पाय पुढे आणत दोन्ही हातांच्या मधे ठेवा,डावा गुडघा जमिनीवर ठेवा,नितंब खाली खेचा

                                    आणि वरती पहा.या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    उजवा पाय हा दोन्ही हाताच्या बरोबर मध्यभागी ठेवा आणि पिंडरी जमिनीच्या बरोबर ९० अंशी कोनात ठेवा.या

                                    अवस्थेमध्ये नितंब जमिनीच्या बाजूला खाली ढकलण्याचा प्रयत्न करा.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-10.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 10:  हस्त पादासन</u></a></h5>
                                <p>
                                    श्वास सोडत आपला डावा पाय पुढे आणा.तळहात जमिनीवर ठेवा.वाटलेच तर गुडघे थोडे वाकवू शकता.या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    श्वास सोडत आपला डावा पाय पुढे आणा.तळहात जमिनीवर ठेवा.वाटलेच तर गुडघे थोडे वाकवू शकता.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-11.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 11:  हस्तौत्तनासन</u></a></h5>
                                <p>
                                    श्वास घेत पाठ सरळ करा आणि हात वरती उंचवा.नितंब थोडे पुढे घेत मागच्या बाजूला वाकण्याचा प्रयत्न करा.

                                    या योगमुद्रेच्या तणावामध्ये दृढ कसे व्हाल?

                                    तुमचे दंड तुमच्या कानाजवळ आहेत याची खात्री करून घ्या कारण हात मागे खेचण्यापेक्षा वरती खेचणे महत्वाचे आहे.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6" style="border:solid">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/Content/img/blog/blog-12.jpg" alt="">
                            </div>
                            <div class="blog__item__text">
                                @*<ul>
                                        <li><i class="fa fa-calendar-o"></i> May 4, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>*@
                                <h5><a @*href="#"*@><u>चरण 12:  ताडासन</u></a></h5>
                                <p>
                                    श्वास बाहेर सोडत पहिल्यांदा शरीर सरळ करा आणि मग हात खाली घ्या.या अवस्थेमध्ये विश्राम करा.आपल्या शरीरामध्ये होणाऱ्या स्पंदनाचे निरीक्षण करा.
                                </p>
                                @*<a href="#" class="blog_read_more">READ MORE <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>


                    @*<div class="col-lg-12">
                            <div class="classes__pagination blog__pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#"><span class="arrow_carrot-right"></span></a>
                            </div>
                        </div>*@
                </div>
            </div>



        </div>
    </div>
</section>