
@{
    ViewBag.Title = "IndexadminG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Admin/Contents/Pages/jquery-3.6.0.min.js"></script>
<script src="~/Admin/Contents/Pages/Gallery.js"></script>

@*<h2>IndexadminG</h2>*@

<input type="text" id="txttitle" />
<input type="file" id="fuphoto" />
<input type="button" id="Button1" value="Submit" onclick="saveGallery()" />