
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <script src="~/Admin/Contents/Pages/jquery-3.6.0.min.js"></script>
        <script src="~/Admin/Contents/Pages/Gallery.js"></script>

        <input type="text" id="txttitle" />
        <input type="file" id="fuphoto" />
        <input type="button" id="Button1" value="Submit" onclick="saveGallery()" />

    </div>
</body>
</html>
