@{
    ViewBag.Title = "Home Page";
}

<section class="hero">
    <div class="hero__sliders owl-carousel">
        <div class="hero__items set-bg" data-setbg="/Content/img/hero/hero-1.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <span>Welcome to</span>
                            <h2>
                                Yoga Class NerPinglai
                            </h2>
                            <a href="#" class="primary-btn">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/Content/img/hero/hero-2.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <span>Welcome to</span>
                            <h2>
                                Yoga Class NerPinglai
                            </h2>
                            <a href="#" class="primary-btn">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="home__about__pic">
                    <div class="home__about__pic__item large-item set-bg" data-setbg="/Content/img/about/about-1.jpeg"></div>
                    <div class="home__about__pic__item">
                        <div class="home__about__pic__item__inner set-bg" data-setbg="/Content/img/about/about-2.jpeg"></div>
                        <div class="home__about__pic__item__inner set-bg" data-setbg="/Content/img/about/about-3.jpeg"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="home__about__text">
                    <div class="section-title">

                        <h2>योग म्हणजे काय?</h2>
                    </div>

                    <p>
                        <b>
                            योग हा शब्द 'युज' या संस्कृत धातू पासून बनलेला आहे, ज्याचा अर्थ आहे आत्म्याचे परमात्म्यात विलीन होणे. योग ही भारतातील पांच हजार वर्ष प्राचीन ज्ञानशैली आहे. पुष्कळ लोकांचा असा समज आहे की योगाभ्यास म्हणजे शारीरिक व्यायाम आहे, ज्यात शरीर ताणले, वाकवले, पिळले जाते आणि अवघड श्वसन प्रक्रियांचा अवलंब केला जातो. खरेतर मानवी मन आणि आत्मा यांची अनंत क्षमता जाणून घेणाऱ्या या विज्ञानाची ही म्हणजे योगाभ्यासाची केवळ वरवरची ओळख झाली. योगाभ्यासामध्ये जीवनशैलीचा परिपूर्ण सारांश प्राप्त होतो.

                            गुरुदेव श्री श्री रविशंकर म्हणतात, “योग म्हणजे निव्वळ व्यायाम आणि आसन नव्हे. हा भावनात्मक समतोल आणि त्या अनादी अनंत तत्वाला स्पर्श करत अध्यात्मिक प्रगतीतील सर्व शक्यतांची ओळख करून देणारे शास्त्र आहे.”
                        </b>
                    </p>

                    <a href="#" class="primary-btn">MORE ABOUT US</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <img src="/Content/img/icon.png" alt="">
                    <h2>योगाच्या पैलूंचा आनंद घ्या</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="services__list">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-4.png" alt="">
                        <h5>वॉर्मअप</h5>
                        <p>

                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!

                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-1.png" alt="">
                        <h5>आसन</h5>
                        <p>
                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-2.png" alt="">
                        <h5>
                            ध्यान
                        </h5>
                        <p>
                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-3.png" alt="">
                        <h5>मुद्रा</h5>
                        <p>
                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-5.png" alt="">
                        <h5>तत्त्वज्ञान</h5>
                        <p>
                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="/Content/img/services/services-6.png" alt="">
                        <h5>प्राणायम</h5>
                        <p>
                            स्वत: ची योग प्रथा अधिक सखोल करण्याची, आराम करण्याची, पुनर्संचयित करण्याची आणि अनुभव घेण्याची संधी घ्या
                            भारत!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Begin -->
@*<section class="breadcrumb-option set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h2>Timetable </h2>
                    <div class="breadcrumb__widget">
                        <a href="./index.html">Home</a>
                        <span>Timetable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Breadcrumb End -->
<!-- Timetable Section Begin -->
<section class="pricing spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title normal-title">
                    <h2>आमचे वेळापत्रक</h2>
                    <p>
                        @*<br /> लवचिकतेला प्रोत्साहन देण्याच्या सौम्य मार्गासाठी सांधेदुखी असलेल्या लोकांमध्ये योग लोकप्रिय आहे आणि सामर्थ्य.*@
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="services__list">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-4.png" alt="">
                    <h5>सोमवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-1.png" alt="">
                    <h5>मंगळवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-2.png" alt="">
                    <h5>
                        बुधवार
                    </h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-3.png" alt="">
                    <h5>गुरूवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-5.png" alt="">
                    <h5>शुक्रवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-6.png" alt="">
                    <h5>शनिवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/Content/img/services/services-6.png" alt="">
                    <h5>रविवार</h5>
                    <p>
                        सकाळी ५.३० ते सकाळी ७.३०
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="/img/services/services-6.png" alt="">
                    <h5></h5>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
